.humberger {
    position: absolute;
    border-radius: 1em;
    top: 0%;
    left: 0.5em;
    width: 4em;
    height: 4em;
    background-color: rgb(228, 228, 228);
    transition: 1s;
    z-index: 100;
  }
  .humberger.open {
    left: 15em;
  }
  .line {
    position: relative;
    content: "";
    top: 3mm;
    left: -0.1em;
    width: 3em;
    height: 0.2em;
    background-color: black;
    display: flex;
    pointer-events: none;
    transition: 1s;
  }
  #upperline {
    margin-top: -1.5em;
  }
  #upperline.open {
    margin-top: -0.8em;
    transform: rotate(45deg);
  }
  #centerline {
    margin-top: 0.8em;
  }
  #centerline.open {
    opacity: 0;
  }
  #lowerline {
    margin-top: 0.8em;
  }
  #lowerline.open {
    margin-top: -1.1em;
    transform: rotate(-45deg);
  }
  