#seikoshinkou{
    font-size: 38.5px;
    margin-left: auto;
    margin-right: auto;
    width: 38.5px;
}
#ten{
    position: absolute;
    top:160px;
    left: calc(50% + 4.5px);
}
#shinkou{
    position: absolute;
    top:210px;
    width: 38.5px;
}